@model List<Order>

@{
    Layout = "_AdminLayout";
}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Pizzas</th>
            <th scope="col">Total price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
        <tr>
            <td>@p.Id</td>
            <td>@p.Pizzas.Count</td>
            <td>@p.Pizzas.Sum(x => x.Pizza.SizePrice * x.Quantity) </td>
            <td><a asp-action="DeleteOrder" asp-controller="Admin" asp-route-id="@p.Id">Delete</a></td>
            @if (!p.Confirmed)
            {
                <td><a asp-action="MarkOrderAsConfirmed" asp-controller="Admin" asp-route-id="@p.Id">Mark As Confirmed</a></td>
            }
        </tr>
        }

    </tbody>
</table>