@model List<Pizza>

    <a asp-action="CreatePizza">Create Pizza</a>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Name</td>
                    <td>@p.Description</td>
                    <td><a asp-action="EditPizza" asp-controller="Admin" asp-route-id="@p.Id">Edit</a></td>
                    <td><a asp-action="DeletePizza" asp-controller="Admin" asp-route-id="@p.Id">Delete</a></td>
                </tr>
            }

        </tbody>
    </table>