@model Pizza

<h1>@Model.Name</h1>
<h2>@Model.Description</h2>
<p hidden id="pizzaId">@Model.Id</p>

@foreach (var p in Model.Prices)
{
    if (p.SizePrice != 0)
    {
        <div style="display:none;" name="@p.Id">
            <h5 class="text-body" id="price_@p.Id">$ @p.SizePrice.ToString("N2")</h5>
        </div>
    }
}

<form asp-action="AddToCart" asp-controller="Pizza" id="form" method="post" class="form-group">
    <select id="select" class="form-control-sm mr-1">
        @foreach (var p in Model.Prices)
        {
            @if (p.SizePrice != 0)
            {
                <option value="@p.Id">@p.Size</option>
            }
        }
    </select>
    @if (User.Identity.IsAuthenticated)
    {
        <input type="number" placeholder="Qty" id="qty" value="1" class="form-control-sm mr-1">
        <button class="btn btn-primary " id="submit" type="submit">Add To Cart</button>
    }
    else
    {
        <p><a asp-action="SignIn" asp-controller="Account">Sign In</a> to add to cart </p>
    }
</form>
@if (User.Identity.IsAuthenticated)
{
    <h3>Leave a comment for pizza</h3>
    <div class="form-group">
        <label for="comment">Rounded corners</label>
        <textarea style="resize:none" class="form-control" id="comment" rows="7"></textarea>
    </div>
    <button class="btn btn-primary m-1" id="send" disabled>Send</button>
}
else
{

    <h3>To leave a comment for pizza you need to sign in</h3>
}
<ul id="commentList" style="list-style-type: none;">
    @foreach (var c in Model.Comments.Reverse<Comment>())
    {
        <li>
            <div class="card m-1">
                <div class="card-header">
                    @c.PublishDate
                </div>
                <div class="card-body">
                    <h5 class="card-title">@c.User.UserName</h5>
                    <p class="card-text">@c.Data</p>
                </div>
            </div>
        </li>
    }
</ul>
<script src="~/js/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const select = document.getElementById('select');
    let result = document.getElementsByName(select.value)[0];
    result.style = 'display:normal;'
    let prev_result = result;
    select.addEventListener('change', (e) => {
        const value = select.value;
        const result = document.getElementsByName(value)[0];
        prev_result.style = 'display: none;';
        result.style = 'display: normal';
        prev_result = result;
    })
    const form = document.getElementById('form')
    const button = document.getElementById('submit');
    button.addEventListener('click', (e) => {
        form.setAttribute('action', '/Pizza/AddToCart?id=' + select.value + '&qty=' + document.getElementById('qty').value)
    })
    const connection = new signalR.HubConnectionBuilder().withUrl("/comment").build();
    const id = document.getElementById('pizzaId').innerText;
    connection.on("Comment", (pizzaId, message, user) => {
    if (pizzaId == id) {
        let msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
        let li = document.createElement("li");
        let div1 = document.createElement('div')
        div1.setAttribute('class', 'card m-1')
        let div2 = document.createElement('div')
        div2.setAttribute('class', 'card-header')
        let div3 = document.createElement('div')
        div3.setAttribute('class', 'card-body')
        let h5 = document.createElement('h5')
        h5.setAttribute('class', 'card-title')
        h5.innerText = user
        let p = document.createElement('p')
        p.innerText = msg
        let now = document.createElement('p')
        now.innerText = 'now'
        p.setAttribute('class', 'card-text')
        div3.appendChild(h5);
        div3.appendChild(p);
        div2.appendChild(now);
        div1.appendChild(div2)
        div1.appendChild(div3)
        li.prepend(div1);

        document.getElementById("commentList").prepend(li);
        }
    });
    connection.start().then(() => {
        sendButton.disabled = false;
    }).catch(() => console.log('error'));
    const user = '@User?.Identity.Name';
    let sendButton = document.getElementById('send');
    sendButton.addEventListener('click', (e) => {
    let message = document.getElementById('comment').value;
    connection.invoke("Comment", id, message, user).catch(err =>
        console.error(err.toString()))
        axios.post('/comment/Index',
            {
                'data': message,
                'pizzaId': parseInt(document.getElementById('pizzaId').innerText),
            })
            .then(res => console.log(res))
            .catch(err => console.log(err))
    })
</script>

